<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Resultado de MIX PARAMS">
  <title>Resultado de PATH VARIABLE</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    h1 {
      color: #333;
      font-size: 36px;
      text-align: center;
      margin-top: 50px;
    }
    p {
      color: #666;
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<h1>Resultado de PATH VARIABLE</h1>
<p> <span th:text="${resultado}"></span></p>
</body>
</html>